.item {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: .5rem;
}

.number {
    color: #5e19c5;
    font-size: 2rem;
}

.delete {
    width: 2rem;
    height: 2rem;
    object-fit: contain;

    transition: all .2s;

    &:hover {
        transform: scale(1.2);
    }
}

.item ~ .delete:hover {
    background: rgba(184, 255, 165, 0.5);
    transform: scale(1.2);
    transition: all .2s;
}